<h1>{{title}}</h1>

<form action="{{action}}" method="POST">
  <label>
    Nom de l'éditeur<br>
    <input type="text" name="name" required>
  </label>
  <br><br>

  <button type="submit">Créer</button>
</form>
