<h1>Éditeurs</h1>

{{#if query.success}}
  <div class="alert alert-success">
    {{#if (eq query.success 'delete')}}
      Éditeur supprimé avec succès !
    {{/if}}
  </div>
{{/if}}

<p>
  <a href="/editeurs/new">+ Ajouter un éditeur</a>
</p>

{{#if editeurs.length}}
  <ul>
    {{#each editeurs}}
      <li>
        <a href="/editeurs/{{this.id}}">{{this.nom}}</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Il n'y a pas encore d'éditeurs.</p>
{{/if}}