<h1>Éditeurs</h1>

<p>
  <a href="/publishers/new">+ Ajouter un éditeur</a>
</p>

{{#if publishers.length}}
  <ul>
    {{#each publishers}}
      <li>
        <a href="/publishers/{{this.id}}">{{this.name}}</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Il n'y a pas encore d'éditeurs.</p>
{{/if}}
