<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vapeur - {{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> nav}}

  <main class="container">
    {{{body}}}
  </main>
</body>
</html>
